In [1]:
import os

os.environ["PYSPARK_SUBMIT_ARGS"] = (
    "--packages org.apache.spark:spark-streaming-kafka-0-10_2.12:3.2.0,org.apache.spark:spark-sql-kafka-0-10_2.12:3.2.0 pyspark-shell"
)

In [2]:
import  pandas as pd

df = pd.read_csv('/home/lupusruber/music_analytics/data/artist_dim/part-00000-4a026221-a1b3-4d44-8edd-f3b867f8f531-c000.csv')

In [8]:
df.groupby('SongSK').size().reset_index(name='count')

                                SongSK  count
0     00002131f0086be64fbddb54e9239112      1
1     000180f64f82ca676fc6d88626e41c9c      1
2     000f303e786594d1332336697f12a83f      1
3     0012b3959067ffda4b1afc043f2bbe80      1
4     00294a58e37b4dab3bb9add599f8c268      1
...                                ...    ...
9381  ffe658d56d1c5218f7acd57e0225c67d      1
9382  ffea8813cc5c51e89af843815bb8f6a2      1
9383  ffea8c2fea8ebcc12b61b383155aab9f      1
9384  fff892dae1c990fefe4b0ff803593d5f      1
9385  fffe02e658c53e7225553eb03503972a      1

[9386 rows x 2 columns]